body {
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 3px;
    margin-bottom: 0px;
    font-size: 14px;
    color: #000;
}
table{
    border-collapse:collapse;
}


.text{
    height: 25px;
    width: 250px;
}
