body {
    margin-left: 3px;
    margin-top: 10px;
    margin-right: 3px;
    margin-bottom: 0px;
    color: #000;
}

table{
    border-collapse:collapse;
}

p{
    line-height: 14px;
    text-indent:3em;
}

.STYLE6 {color: #000000; font-size: 12px; background-color: #d3eaef }
.STYLE10 {color: #000000; font-size: 12px; }
