.CodeMirror {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.sidebar-css-ark {
    min-height: 1200px;
}

.project-button {
    margin-top: 7px;
    margin-right: 30px;
}

.embed-responsive-16by9-ark {
    height: 300px;
}

.iframe-ark {
    padding-right:0px;
}

.hide {
	display: none;
}

.btn-confirm-ark {
	/*margin-left: 15px;*/
	margin-right: 10px;
}

.btn-com-ark {
	margin-bottom: 15px;
}

.form-marginleft-ark {
	margin-left: 15px;
}


.fileDiv-ark {
    background-color:#f2dede;
    color:#a94442;
    border-color: #ebccd1;
    width: 600px;
    position: relative;
}


.fileDivfork-ark {
    position: absolute;
    right: 15px;
    bottom: 8px;
}

.fileDivfork-left-ark {
    position: absolute;
    right: 85px;
    bottom: 8px;
}


.remarks-div-width {
   width: 639px;
}




