<!DOCTYPE html>
<html lang="zh-hans" ng-app="ucpen">
<head>
    <meta charset="UTF-8">
    <title>动效平台首页</title>
    <link rel="stylesheet" href="../../public/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../../public/bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="../../public/bower_components/codemirror/theme/monokai.css">
    <link rel="stylesheet" href="../../public/component/css/index.css">
</head>
<body>
<script>
    //左边栏
    var categories = <%- JSON.stringify(categories) %>;
    console.log('左边栏'); 
    console.log(categories); 

    //产品线
    var productLines = <%- JSON.stringify(productLines) %>;
    console.log('产品线'); 
    console.log(productLines); 
</script>
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand">动效平台</span>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li ng-controller="projectList">
            <div class="btn-group project-button" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
              <span>{{productName}}</span> <span class="caret"></span>
            </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-repeat="item in proList" ng-click="projectGroup(item.productLineID, item.name)">
                        <a href="" >
                            {{item.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="/component/create">新建</a></li>
        <!-- <li><a href="/component/edit">编辑</a></li>
        <li><a href="" ng-click="createPage();">新建</a></li> -->
        <!-- <li><a href="" ng-click="save({html: html, css: css, javascript: javascript})">保存</a></li> -->
        <li><a href="" ng-click="html = ''; css = ''; javascript = '';">清除</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 sidebar sidebar-css-ark">
            <accordion>
                <accordion-group ng-repeat="itemCate in category" id="{{itemCate.id}}"  heading="{{itemCate.category}}">
                    <div ng-repeat="item in itemCate.example" id="{{item.componentID}}" ng-click="gotoExample(item.componentID)"><a href="/component/edit/{{item.componentID}}">{{item.componentName}}</a></div>
                </accordion-group>
            </accordion>
        </div>
    
        <div id="controlCreateView" class="col-sm-10 container-fluid" ng-show="isShowCreate">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>样例名称 ： </label>
                    <input type="text" ng-model="exampleName" class="form-control">
                </div>

                <div class="form-group">
                    <label>选择分类 ： </label></br>
                    <div class="btn-group project-button" dropdown is-open="status.isopen">
                        <button type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
                          <span>{{categoryCur}}</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-repeat="items in category">
                                <a href=""  ng-click="choiceCategory(items.category)">
                                    {{items.category}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>


    <div class="col-sm-10 container-fluid" >
        <div class="col-sm-6">
           <section class="panel panel-default">
            <header class="panel-heading cc" ng-class="{bb: isPreviewFRAME}">Preview
                <div class="fileDivfork-ark" ng-click="changeWatchFRAME()" >
                    {{textPreviewFRAME}}
                </div>
            </header>
            <div class="embed-responsive embed-responsive-16by9-ark" ng-class="{aa: isPreviewFRAME}">
              <iframe class="col-sm-12 iframe-ark"  srcdoc="{{ preview }}"></iframe>
            </div>
          </section>
        </div>
        <div class="col-sm-6">
          <section class="panel panel-default">
            <header class="panel-heading cc" ng-class="{bb: isPreviewHTML}">HTML   
                <div class="fileDivfork-ark" ng-click="changeWatchHTML()" >
                    {{textPreviewHTML}}
                </div>
            </header>
            <div ng-class="{aa: isPreviewHTML}" ui-codemirror="{
                lineNumbers: true,
                theme: 'monokai',
                lineWrapping : true,
                mode: 'htmlmixed'
              }" ng-model="html" ng-model-options="{
                debounce: 200
              }"></div>
          </section>
        </div>
    </div>
    <div class="col-sm-10 container-fluid">
        <div class="col-sm-6">
          <section class="panel panel-default">
            <header class="panel-heading cc"  ng-class="{bb: isPreviewCSS}">CSS/SASS
                <div class="fileDivfork-ark" ng-click="changeWatchCSS()" >
                    {{textPreviewCSS}}
                </div>
            </header>
            <div ng-class="{aa: isPreviewCSS}"  ui-codemirror="{
              lineNumbers: true,
              theme: 'monokai',
              lineWrapping : true,
              mode: 'css'
            }" ng-model="css" ng-model-options="{
              debounce: 200
            }"></div>
          </section>
        </div>
        <div class="col-sm-6">
          <section class="panel panel-default">
            <header class="panel-heading cc"  ng-class="{bb: isPreviewJS}">JavaScript
                <div class="fileDivfork-ark" ng-click="changeWatchJS()" >
                    {{textPreviewJS}}
                </div>
            </header>
            <div ng-class="{aa: isPreviewJS}" ui-codemirror="{
              lineNumbers: true,
              theme: 'monokai',
              lineWrapping : true,
              mode: 'javascript'
            }" ng-model="javascript" ng-model-options="{
              debounce: 200
            }"></div>
          </section>
        </div>
    </div>

    <div class="col-sm-10 container-fluid"  ng-show="isShowCreate">
        <form action="/component/create/" method="post" class="form-marginleft-ark" enctype="multipart/form-data">
            <input type="text" name="name" class="hide" value="{{exampleName}}" />
            <input type="text" name="typeID" class="hide" value="{{categoryCur}}" />
            <input type="text" name="html" class="hide" value="{{html}}" />
            <input type="text" name="js" class="hide" value="{{javascript}}" />
            <input type="text" name="css" class="hide" value="{{css}}" />
            <input type="text" name="remarks" class="hide" value="预留字段" />
            <div class="form-group">
                <label>上传文件 ： </label>
                <input type="file" name="file" multiple />
            </div>

            <input type="submit" class="btn btn-info btn-confirm-ark btn-com-ark" ng-click="isShowCreate=false;" value="确认">

            <input type="button" class="btn btn-info btn-confirm-ark btn-com-ark" ng-click="isShowCreate=false;" value="取消">

        </form>
    </div>



    <!-- <div class="col-sm-10 container-fluid"  ng-show="isShowCreate">
        <button type="button" class="btn btn-info btn-confirm-ark btn-com-ark" ng-click="isShowCreate=false;">确认</button>
        <button type="button" class="btn btn-info btn-com-ark" ng-click="isShowCreate=false;">取消</button>
    </div> -->

    </div>
  </div>
<script type="text/ng-template" id="init.html">
    <div></div>
</script>
<script type="text/ng-template" id="init.css">
    div {
    position: relative;

    width: 200px;
    height: 200px;
    overflow: hidden;

    border-radius: 100px;
    margin: 100px auto 0;
    color: red;

    transform: scale(1);
    transition: transform ease 200ms;
    }

    div::before,
    div::after {
    content: '';

    position: absolute;
    top: 0;

    display: block;
    width: 50%;
    height: 100%;
    }

    div::before {
    background-color: currentColor;

    animation:
    before-1 linear 1s infinite,
    before-2 steps(1) 1s infinite;
    }

    @keyframes before-1 {
    from { transform: none; }
    to { transform: rotate(720deg); }
    }

    @keyframes before-2 {
    0% {
    left: 0;
    transform-origin: right center;
    }
    50% {
    left: 50%;
    transform-origin: left center;
    }
    }

    div::after {
    animation: after steps(1) 1s infinite;
    }

    @keyframes after {
    0% {
    left: 0;
    background: white;
    }
    25% {
    left: 50%;
    background: currentColor;
    }
    50% {
    left: 0;
    background: currentColor;
    }
    75% {
    left: 50%;
    background: white;
    }
    }
</script>
<script type="text/ng-template" id="init.js">
  var div = document.querySelector('div'),
    scale = 1;

    setInterval(function () {
    var randomScale = (Math.random() * .3 + .2) * scale + 1;

    div.style.transform = 'scale(' + randomScale + ')';
    scale *= -1;
    }, 200);
</script>

<script src="../../public/bower_components/angular/angular.js"></script>
<script src="../../public/bower_components/angular-animate/angular-animate.js"></script>
<script src="../../public/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<script src="../../public/bower_components/codemirror/lib/codemirror.js"></script>
<script src="../../public/bower_components/codemirror/mode/xml/xml.js"></script>
<script src="../../public/bower_components/codemirror/mode/css/css.js"></script>
<script src="../../public/bower_components/codemirror/mode/javascript/javascript.js"></script>
<script src="../../public/bower_components/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="../../public/bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
<script src="/public/bower_components/angular-cookies/angular-cookies.js"></script>


<script src="../../public/component/js/index.js"></script>

</body>
</html>
