<!DOCTYPE html>
<html lang="zh-hans" ng-app="ucpen">
<head>
    <meta charset="UTF-8">
    <title>动效平台首页</title>
    <link rel="stylesheet" href="../../public/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../public/bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../../public/bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="../../public/bower_components/codemirror/theme/monokai.css">
    <link rel="stylesheet" href="../../public/component/css/index.css">
</head>
<body>
<script>
    var categories = <%- JSON.stringify(categories) %>;
</script>
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand">动效平台</span>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li ng-controller="projectList">
            <div class="btn-group project-button" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
              <span>项目组</span> <span class="caret"></span>
            </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-repeat="item in proList">
                        <a href="" >
                            {{item}}
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="/component/create">新建</a></li>
        <li><a href="/component/edit">编辑</a></li>
        <!-- <li><a href="" ng-click="createPage();">新建</a></li> -->
        <!-- <li><a href="" ng-click="save({html: html, css: css, javascript: javascript})">保存</a></li> -->
        <li><a href="" ng-click="html = ''; css = ''; javascript = '';">清除</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 sidebar sidebar-css-ark">
            <accordion>
                <accordion-group ng-repeat="itemCate in category"  heading="{{itemCate.category}}">
                    <div ng-repeat="item in itemCate.example" id="{{item.id}}" ng-click="gotoExample(item.id)"><a href="">{{item.name}}</a></div>
                </accordion-group>
            </accordion>
        </div>
    
        <div id="controlCreateView" class="col-sm-10 container-fluid" ng-show="isShowCreate">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>样例名称 ： </label>
                    <input type="text" ng-model="exampleName" class="form-control">
                </div>

                <div class="form-group">
                    <label>选择分类 ： </label></br>
                    <div class="btn-group project-button" dropdown is-open="status.isopen">
                        <button type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
                          <span>{{categoryCur}}</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-repeat="items in category">
                                <a href=""  ng-click="choiceCategory(items.category)">
                                    {{items.category}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>


    <div class="col-sm-10 container-fluid">
        <div class="col-sm-6">
          <section class="panel panel-default">
            <header class="panel-heading">HTML</header>
            <div class="" ui-codemirror="{
                lineNumbers: true,
                theme: 'monokai',
                lineWrapping : true,
                mode: 'htmlmixed'
              }" ng-model="html" ng-model-options="{
                debounce: 200
              }"></div>
          </section>
        </div>
        <div class="col-sm-6">
          <section class="panel panel-default">
            <header class="panel-heading">CSS</header>
            <div class="" ui-codemirror="{
              lineNumbers: true,
              theme: 'monokai',
              lineWrapping : true,
              mode: 'css'
            }" ng-model="css" ng-model-options="{
              debounce: 200
            }"></div>
          </section>
        </div>
    </div>
    <div class="col-sm-10 container-fluid">
        <div class="col-sm-6">
          <section class="panel panel-default">
            <header class="panel-heading">JavaScript</header>
            <div class="" ui-codemirror="{
              lineNumbers: true,
              theme: 'monokai',
              lineWrapping : true,
              mode: 'javascript'
            }" ng-model="javascript" ng-model-options="{
              debounce: 200
            }"></div>
          </section>
        </div>
        <div class="col-sm-6">
           <section class="panel panel-default">
            <header class="panel-heading">Preview</header>
            <div class="embed-responsive embed-responsive-16by9-ark">
              <iframe class="col-sm-12 iframe-ark"  srcdoc="{{ preview }}"></iframe>
            </div>
          </section>
        </div>
    </div>

    <div class="col-sm-10 container-fluid"  ng-show="isShowCreate">
        <form action="/component/create/" method="post" class="form-marginleft-ark" enctype="multipart/form-data">
            <input type="text" name="name" class="hide" value="{{exampleName}}" />
            <input type="text" name="typeID" class="hide" value="{{categoryCur}}" />
            <input type="text" name="html" class="hide" value="{{html}}" />
            <input type="text" name="js" class="hide" value="{{javascript}}" />
            <input type="text" name="css" class="hide" value="{{css}}" />
            <input type="text" name="remarks" class="hide" value="预留字段" />
            <div class="form-group">
                <label>上传文件 ： </label>
                <input type="file" name="file" multiple />
            </div>

            <input type="submit" class="btn btn-info btn-confirm-ark btn-com-ark" ng-click="isShowCreate=false;" value="确认">

            <input type="button" class="btn btn-info btn-confirm-ark btn-com-ark" ng-click="isShowCreate=false;" value="取消">

        </form>
    </div>



    <!-- <div class="col-sm-10 container-fluid"  ng-show="isShowCreate">
        <button type="button" class="btn btn-info btn-confirm-ark btn-com-ark" ng-click="isShowCreate=false;">确认</button>
        <button type="button" class="btn btn-info btn-com-ark" ng-click="isShowCreate=false;">取消</button>
    </div> -->

    </div>
  </div>
<script type="text/ng-template" id="init.html">
    <div id="airuikun">angular</div>
</script>
<script type="text/ng-template" id="init.css">
    $ark = 200px;
    #airuikun {
        width: $ark;
        height: $ark;
        background-color: red;
    }
</script>
<script type="text/ng-template" id="init.js">
  var a = 111;
</script>

<script src="../../public/bower_components/angular/angular.js"></script>
<script src="../../public/bower_components/angular-animate/angular-animate.js"></script>
<script src="../../public/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<script src="../../public/bower_components/codemirror/lib/codemirror.js"></script>
<script src="../../public/bower_components/codemirror/mode/xml/xml.js"></script>
<script src="../../public/bower_components/codemirror/mode/css/css.js"></script>
<script src="../../public/bower_components/codemirror/mode/javascript/javascript.js"></script>
<script src="../../public/bower_components/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="../../public/bower_components/angular-ui-codemirror/ui-codemirror.js"></script>

<script src="../../public/component/js/index.js"></script>

</body>
</html>
