<!DOCTYPE html>
<html lang="zh-hans" ng-app="ucpen">
<head>
    <meta charset="UTF-8">
    <title>动效平台首页</title>
    <style type="text/css">
        <%- data.css %>
    </style>
</head>
<body>
    <%- data.html %>
    <script>
        <%- data.js %>
    </script>
</body>
</html>
