.CodeMirror {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.sidebar-css-ark {
    height: 1000px;
}

.project-button {
    margin-top: 7px;
    margin-right: 30px;
}

.embed-responsive-16by9-ark {
    height: 300px;
}

.iframe-ark {
    padding-right:0px;
}

.hide {
	display: none;
}