<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link type="text/css" href="/public/cms/css/style.css" rel="stylesheet" />
<link type="text/css" href="/public/cms/css/addProductPage.css" rel="stylesheet" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%- pageTitle %></title>
<script type="text/javascript" src="/public/cms/js/jquery.js"></script>
<script type="text/javascript" src="/public/cms/js/js.js"></script>
<script type="text/javascript" src="/public/cms/js/addProductPage.js"></script>
</head>

<body>
  <table width="80%" border="1" cellspacing="0" cellpadding="10">
    <tr style="background-color:#a8c7ce;text-align:center">
    <td><b>添加产品线</b></td>
    </tr>
    <tr>
      <td><b>产品名称：</b><input type="text" maxlength="18" class="addProject text"  /></td>
    </tr>
    <tr align="center"> 
      <td><input type="image" class="crosshair sub" src="/public/cms/img/qd.jpg" /></td>
    </tr>
  </table>
</body>
</html>
