<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" href="/public/cms/css/style.css" rel="stylesheet" />
<link type="text/css" href="/public/cms/css/right.css" rel="stylesheet" />
<title><%- pageTitle %></title>
</head>

<body>
  <table class="STYLE10" width="98%" border="1" cellspacing="0" cellpadding="8">
    <tr style="background-color:#a8c7ce">
      <td align="center" valign="middle"><strong>欢迎来到动效管理后台</strong></td>
    </tr>
    <tr>
      <td align="left" valign="middle"><strong>简介：</strong>动效平台创建于2015年10月15日<p>是一个牛逼的平台~是一个牛逼的平台~是一个牛逼的平台~(重要介绍说三遍)</p><p>一个牛逼的平台~一个牛逼的平台~一个牛逼的平台~</p><p>个牛逼的平台~个牛逼的平台~个牛逼的平台~</p><p>牛逼的平台~牛逼的平台~牛逼的平台~</p><p>逼的平台~逼的平台~逼的平台~</p><p>的平台~的平台~的平台~</p><p>平台~平台~平台~</p><p>台~台~台~</p></td>
    </tr>
    <tr>
      <td align="left" valign="middle"><strong>成员：</strong>周明智(明智) 王兴龙(蛋总) 艾瑞坤(瑞坤) 郑大伟(团藏)</td>
    </tr>
    <tr>
      <td align="left" valign="middle"><strong>注意：系统不结实，轻点儿用，别用坏了！</strong></td>
    </tr>
  </table>
</body>
</html>
